apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
  namespace: yolomy
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend-app
  template:
    metadata:
      labels:
        app: backend-app
    spec:
      containers:
      - name: backend
        image: lembadev/thomas-yolo-backend
        ports:
        - containerPort: 5000
        env:
        - name: MONGO_URI
          value: "mongodb://mongo-0.mongo.yolomy.svc.cluster.local:27017/thomas-db"

      resources:
        requests:
          memory: "256Mi"
          cpu: "250m"
        limits:
          memory: "512Mi"
          cpu: "400m"
