apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
  namespace: yolomy
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend-app
  template:
    metadata:
      labels:
        app: backend-app
    spec:
      containers:
        - name: backend
          image: lembadev/thomas-yolo-backend:v1.0.0
          ports:
            - containerPort: 5000
          env:
            - name: MONGO_URI
              value: "mongodb+srv://thomas:I9J0MUsmJmMXKD4F@projectdevops.lyuwnqd.mongodb.net/?retryWrites=true&w=majority&appName=ProjectDevops"
      resources:
        requests:
          memory: "256Mi"
          cpu: "250m"
        limits:
          memory: "512Mi"
          cpu: "500m"
