apiVersion: v1
kind: Service
metadata:
  name: frontend-app
  namespace: yolomy
spec:
  selector:
    app: frontend-app
  ports:
    - protocol: TCP
      port: 80
      targetPort: 3000
  type: LoadBalancer

